.orange-header-project {
    color: var(--custom-orange);
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 183px;
}

.rect {
    align-items: center;
    display: flex;
    color: var(--custom-grey);
}

.description {
    font-size: 20px;
    color: var(--custom-grey);
    margin-right: 30px;
}

.text-field-left {
    margin-right: 350px;
    margin-left: 30px;
}

.rect-right {
    width:500px;
    height:430px;
    border:2px solid var(--custom-grey);
    margin-right: -333px;
    z-index: -1;
    align-items: center;
    display: flex;
    color: var(--custom-grey);
}

img {
    height: 375px;
    width: auto;
}

.image {
    width: 100%;
    max-height: 375px;
    height: auto;
}

.balloon3 {
    transform: rotate(90deg);

}

.balloon-3 {
    width: 900px;
}

.project {
    margin-top: 100px;
}

.card-text-mobile {
    margin-top: 75px;
}

.card-mobile {
    height: 300px;
}

.card-left {
    margin-right: -200px;
    height: 450px;
    z-index: -1;
}

.card-body-left {
    margin-left: 50px;
    margin-right: 200px;
}