
/*change colors here, do not chane variable names*/
:root {
    --custom-orange: #FD7350;
    --custom-grey: #45434B;
}


.rect {
    width:500px;
    height:430px;
    border:2px solid var(--custom-grey);
    margin-left: -200px;
    z-index: -1;
}

.rect-mobile {
    width:500px;
    height:430px;
    border:2px solid var(--custom-grey);
    z-index: -1;
    margin-top: -50px;
}

.description {
    font-size: 25px;
    color: var(--custom-grey);
}

.orange-header {
    color: var(--custom-orange);
    font-weight: bold;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-field {
    margin-left: 225px;
}

.text-field-mobile {
    margin-top: 90px;
    margin-left: 20px;
}

.project-text-field {
    margin-left: 225px;
}

.image {
    width: 100%;
    max-width: 500px;
    max-height: 375px;
    height: auto;
}

.image-mobile {
    width: 70%;
    max-height: 375px;
    height: auto;
}

.rect-orange {
    background-color: var(--custom-orange);
    color: white;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.flag {
    font-size: 25px;
}

i {
    border: solid var(--custom-orange);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.section-title {
    font-size: 40px;
    color: var(--custom-orange);
    margin-left:200px;
}

.section-title-mobile {
    font-size: 40px;
    color: var(--custom-orange);
    margin-left:20px;
}

.project-pic {
    height: 280px;
    width: 350px;
}

.project-description {
    font-size: 20px;
    color: var(--custom-grey);
    margin-right: 20px;
    align-items: center;
    display: flex;
}

.orange-project-header {
    color: var(--custom-orange);
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-rect {
    width: 890px;
   height: 330px;
    border:2px solid var(--custom-grey);
    margin-left: -200px;
    z-index: -1;
}